{
	"type": "图床类型，当前只支持阿里(ali)",
	"secret_id": "你的 accessKeyId",
	"secret_key": "你的 accessKeySecret",
	"bucket": "桶的名字",
	"region": "地区",
	"domain": "域名，如果有的话",
	"dir": "路径(dir/test)，可以不配置，直接上传到桶的根目录"
}
